body{
    background-color: #FFFFFF;
}

/*Cuadro del login*/
.Box-login{
    width: 50%;
    height: auto;
    padding: .3%;;
    background: transparent;   
    font-family: 'Calibri Light'; 
}

/*Logo*/
.login-logo{
    width: 25%;
    height: 25%;        
}
/*Formularioa*/
.form{    
    width: 80;        
}
/*Cuadros de texto*/
.cuadro-text{
    width: 95%;
    background-color: transparent;
    border-color: rgb(10, 144, 229);
    border-style: solid;
    padding: 1%;
    margin-bottom: 12px;
}
.ref{
    width: 20%;    
}
.btn{
    background-color: rgb(204, 102, 225);
    width: 78%;
    padding: 1.2%;
    border: none;
    color: #FFFFFF;
}

